AIC_Stage1/SentimentClient/Service References/BillingServiceReference/BillingService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BillingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BillingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BillDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="customerId" type="xs:int" />
      <xs:element minOccurs="0" name="customerUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isPayed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillDetails" nillable="true" type="tns:BillDetails" />
</xs:schema>